$pink-btn: #bf2957;

* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

html {
  background-color: white;
  color: black;
  font-family: "Dosis", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

header {
  background-size: cover;
  height: 20vh;
  background-position: center;
  border-bottom: 2px solid #e9e9e9
}

.row {
  width: 1140px;
  margin: 0 auto;
}

nav {
  .row .first_menu {
    float: right;
    list-style: none;
  }

  .row .first_menu li {
    display: inline-block;
  }

  .row .logo_div {
    width: 25%;
  }

  .row .menu_div {
    width: 75%;
  }

  .logo {
    float: left;
    margin-top: 10px;
  }

  .main-nav {
    float: right;
    margin-top: 55px;
    list-style: none;
  }

  .main-nav li {
    display: inline-block;
    margin-left: 40px;
  }

  .main-nav li a:link,
  .main-nav li a:visited {
    padding: 8px 0px;
    text-decoration: none;
    font-size: 90%;
    text-transform: uppercase;
    color: #7d7b7c;
    font-weight:600;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
  }

  .main-nav li a:hover,
  .main-nav li a:active {
    border-bottom: 2px solid #e67e22;
  }
}
